.todo-item {
  font-size: 1.1rem;
  max-width: 60vw;
  width: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.todo-item span {
  flex: 1 1 auto;
}

.todo-button {
  flex-basis: 10vw;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border: 3px solid black;
  border-radius: 0.5em;
  margin-left: 1rem;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 0.75rem;
  transition: 1s;
  transition-property: color, background-color;
}

.todo-button:hover {
  box-sizing: border-box;
  border: 3px solid black;
  background-color: white;
  color: black;
}

.finished {
  text-decoration: line-through;
}
