.search-input {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 50%;
  font-weight: 700;
}
.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-items: center; */
  width: 70vw;
  height: 5rem;
  border-radius: 5px;

  border-bottom: 1px solid #ccc;

  transition: 500ms all;
}

.search-users-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
}

.search-users-info {
  margin-left: 1rem;
}

.search-users-id {
  font-weight: bold;
  font-size: 20px;
}

.search-users-name {
  margin-top: 0.5rem;
  color: #888;
  font-size: 16px;
}

.search-box:hover {
  background-color: #f5f5f5; /* 마우스를 올렸을 때 배경색 */
}
