.layout-header {
  flex-basis: 160px;
  flex-shrink: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 0.75rem;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  position: fixed;
  padding: 0;
  font-size: 1.25rem;
}

.navbar > li > strong {
  font-size: 1.65rem;
}

.navbar > li > a,
.navbar > li > span {
  color: lightgray;
  display: flex;
  transition: 500ms all;
}

.navbar > li > a:hover,
.navbar > li > span:hover {
  color: gray;
}

.navbar li.select > a{
  color: black;
}

@media (max-width: 700px) {
  .navbar {
    padding-left: 0;
    min-width: 500px;
    width: 100vw;
    margin: 0;
    display: flex;
    min-height: 5vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    font-size: 0.85rem;
  }
  .layout-header {
    flex-basis: auto;
    text-align: center;
    background-color: white;
  }
}
