.timer-component {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-container {
  height: 100px;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}
